.heroTitle{
    font-size: 45px;
    color: white; 
}

.heroGetStartedBtn{
    background-color: #ff8640; 
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: -10px;
}

.heroGetStartedBtn:hover{
    cursor: pointer;
}

.heroGetStarted{
    text-decoration: none;
    text-decoration-color: black;
}